<!DOCTYPE html>
<html>
<head>
	<title>Flask Intro</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>
<div class="container">
{% block content %} {% endblock %}

{% if error %}
	<p class="error"><strong>Error</strong>{{ error }}</p>
{% endif %}

{% for message in get_flashed_messages() %}
	{{ message }}
{% endfor %}



</body>
</html>